<% unless @exams.blank? %>
<ul class='unstyled'>
	<% @exams.each do |exam| %>
		<li><%= link_to exam.create_at, exam %></li>
	<% end %>
</ul>
<% end %>

<% unless @subjects.blank? %>
<ul class='unstyled'>
	<% @subjects.each do |subject| %>
	<li>
		<%= subject.name %> 
		<%= link_to '开始', start_subject_path(subject), :class => 'btn btn-primary' %>
	</li>
	<% end %>
</ul>
<% end %>