<h2>单选择题</h2>
<%# question_samples(4, "基础选择题" ) do |q| %>
	<h4><%#= q.question %> ( <%#= q.point %> 分 )</h4>
	<%# q.answers.each do |key,value| -%>
		<%#= q.render_answer(key, value) %>
	<%# end %>
	<br>
<%# end %>

<h2>单选择题</h2>
<%= question_samples(4, "基础选择题" ) %>

<h2>多选择题</h2>
<%= question_samples(3, "基础多选题" ) %>

<h2>填空</h2>
<%= question_samples(2, "基础填空题" ) %>

<h2>模拟题</h2>
<%= question_samples(1, "程序题") %>
