/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require responsive
 *= require_self
 *= require_tree .
 */
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.fill_blank {
	margin: 5px;
	border: none!important;
	border-bottom: 1px solid #ccc!important;
	width: auto;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	border-radius: 0px!important;
	-webkit-transition:none!important;
	-moz-box-shadow:none!important;
	-webkit-box-shadow: none!important;
	box-shadow:none!important;

}